
/* GENERAL */
*{
    -fx-text-fill: #ECF0F1;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: 'Tahoma';
}

.button:hover{
    -fx-opacity: 0.80;
}

.button:pressed{
    -fx-opacity: 0.60;
}

/* TITLEBAR */
#titleBar{
    -fx-background-color: #2C3E50;
    -fx-pref-width: 600px;
    -fx-pref-height: 35px;
}

#titleBar > .label{
    -fx-alignment: baseline-left;
    -fx-font-weight: 700;
    -fx-pref-width: 560px;
}

#titleBar > .button{
    -fx-font-size: 15.5px;
    -fx-pref-width: 20px;
    -fx-font-height: 30px;
    -fx-background-color: #2C3E50;
}

#closeButton:hover{
    -fx-background-color: #34495E !important;
}

#minButton:hover{
    -fx-background-color: #34495E !important;
}

/* BACKGROUNDPANE */

#backgroundPane{
    -fx-background-color: #34495E;
    -fx-pref-width: 600px;
    -fx-pref-height: 150px;
    -fx-alignment: center;
}

#backgroundPane > .label{
    -fx-font-size: 25px;
    -fx-font-weight: 800;
}

/* MENUBAR */

#menuBar{
    -fx-vgap: 50px;
    -fx-background-color: #F5F5F5;
    -fx-pref-width: 600px;
    -fx-pref-height: 500px;
}

#menuBar > .label{
    -fx-font-size: 50px;
    -fx-text-fill: #34495E;
    -fx-font-weight: 800;
}

#menuBar > .button{
    -fx-font-size: 24px;
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-background-color: #2C3E50;
}

/** GAMEBAR **/
#gameBar{
    -fx-vgap: 30px;
}
#gameBar > .label{
    -fx-font-size: 25px;
    -fx-pref-width: 540px;
    -fx-text-fill: #34495E;
    -fx-font-weight: 800;
}

#gameBar > .button{
    -fx-font-size: 25px;
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-background-color: #2C3E50;
}

#gameBar > #textField{
    -fx-font-size: 40px;
    -fx-background-color: #2C3E50;
    -fx-max-width: 250px;
    -fx-pref-height: 150px;
}
/** FOOTERBAR **/

#footerBar{
    -fx-background-color: #2C3E50;
    -fx-pref-width: 600px;
    -fx-pref-height: 35px;
}

#footerBar > .label{
    -fx-font-weight: 800;
}